*.java linguist-language=Java
*.kt linguist-language=Kotlin
*.vsh linguist-language=GLSL
*.fsh linguist-language=GLSL

*.vsh linguist-vendored=false
*.fsh linguist-vendored=false
*.vsh linguist-documentation=false
*.fsh linguist-documentation=false
